@model DAL.ViewModels.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var email = TempData["Email"];
}
<div class="row pizza_card p-2">
    <div class="col-12 text-center d-flex justify-content-center align-items">
        <img src="~/images/logos/pizzashop_logo.png" alt="" height="40"><span class="fs-3 text-primary">PIZZASHOP</span>
    </div>
    <div class="col-12 mt-4">
        <h4>Forgot Password</h4>
    </div>
    <div class="col-12 mt-3">
        <p class="">Enter you email and we'll send you a link to reset your password</p>
    </div>
    <div class="form">
        <form asp-action="ForgotPassword" type="POST">
            <div class="col-12 mt-2">
                <div class="text-secondary mt-2 username icon-position">
                    <input type="text" asp-for="Email" class="form-control " placeholder="Email*" id="email" value="@(email != null ? email : "")">
                    <span class="bg-warning">
                        <img src="~/images/icons/customer.svg" class="input-icon-placement" alt="" height="20">
                    </span>
                    <span asp-validation-for="Email" id="email_err" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary w-100">Send</button>
            </div>
            <div class="col-12 d-flex justify-content-center mt-2">
                <a asp-controller="UserAuthentication"asp-action="Index" class="text-primary">Back To Login</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}