@model DAL.ViewModels.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var email = TempData["Email"];
}
<div class="row pizza_card p-2">
    <div class="col-12 text-center d-flex justify-content-center align-items">
        <img src="~/images/logos/pizzashop_logo.png" alt="" height="40"><span class="fs-3 text-primary">PIZZASHOP</span>
    </div>
    <div class="col-12 mt-4">
        <h4>Reset Your Password</h4>
    </div>
    <div class="form">
        <form asp-action="ResetPassword" asp-controller="UserAuthentication">
            <input type="hidden" asp-for="Email">
            <div class="col-12">
                <div class="text-secondary mt-2 password icon-position">
                    <input type="password" asp-for="NewPassword" class="form-control " placeholder="New Password*"
                        id="eye-new-input">
                    <span class="bg-warning d-flex justify-content-end">
                        <i class="fa-solid fa-eye-slash input-icon-placement" id="eye_new"
                            onclick="ToggleEyeIcon('eye_new','eye-new-input')"></i></span>
                </div>
            </div>
            <div class="col-12">
                <div class="text-secondary mt-2 password icon-position">
                    <input type="password" asp-for="ConfirmPassword" class="form-control "
                        placeholder="Confirm New Password*" id="eye-confirm-new-input">
                    <span class="bg-warning d-flex justify-content-end">
                        <i class="fa-solid fa-eye-slash input-icon-placement" id="eye_confirm_new"
                            onclick="ToggleEyeIcon('eye_confirm_new','eye-confirm-new-input')"></i></span>
                </div>
            </div>
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
            <div class="col-12 d-flex justify-content-center mt-2">
                <a asp-controller="UserAuthentication" asp-action="Index" class="text-primary">Back To Login</a>
            </div>
        </form>
        <span class="text-danger">@TempData["Error_Msg"]</span>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}