@model DAL.ViewModels.ChangePasswordViewModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pizza_card p-2">
    <div class="text-primary ms-2">
        <h1><b>Change Password</b></h1>
    </div>
    <div class="form m-5">
        <span class="text-secondary">Enter a new password to update your account credentials</span>
        <form asp-action="ChangePassword" asp-controller="Users">
            <div class="col-md-4">
                <div class="text-secondary mt-2 password icon-position">
                    <input type="password" asp-for="CurrentPassword" class="form-control " placeholder="Current Password*"
                        id="eye-current-input">
                    <span class="bg-warning d-flex justify-content-end">
                        <i class="fa-solid fa-eye-slash input-icon-placement" id="eye_current"
                            onclick="ToggleEyeIcon('eye_current','eye-current-input')"></i></span>
                    <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-secondary mt-2 password icon-position">
                    <input type="password" asp-for="NewPassword" class="form-control " placeholder="New Password*"
                        id="eye-new-input">
                    <span class="bg-warning d-flex justify-content-end">
                        <i class="fa-solid fa-eye-slash input-icon-placement" id="eye_new"
                            onclick="ToggleEyeIcon('eye_new','eye-new-input')"></i></span>
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-secondary mt-2 password icon-position">
                    <input type="password" asp-for="ConfirmNewPassword" class="form-control "
                        placeholder="Confirm New Password*" id="eye-confirm-new-input">
                    <span class="bg-warning d-flex justify-content-end">
                        <i class="fa-solid fa-eye-slash input-icon-placement" id="eye_confirm_new"
                            onclick="ToggleEyeIcon('eye_confirm_new','eye-confirm-new-input')"></i></span>
                    <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a asp-controller="UserAuthentication" asp-action="Index" class="btn btn-outline-primary">Cancel</a>
            </div>
        </form>
        <span class="text-danger">@TempData["Error_Msg"]</span>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}