@model IEnumerable<DAL.Models.User>
@inject IHttpContextAccessor Accessor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
 <h3>Dashboard</h3>
</body>
</html>
